.menu-item {
  padding: 0 0 35px 0;
  margin-bottom: 30px;
  background-color: var(--white-800);
  box-shadow: 5px 5px 18px #888888;
  width: calc(25% - 30px);
  border-radius: 20px;
  max-width: 240px;
  min-width: 240px;
  margin: 40px 30px 30px;
}
.menu-item .menu-item-img {
  position: relative;
  text-align: center;
}
.menu-item img {
  width: 100%;
  object-fit: cover;
  height: 170px;
  overflow: hidden;
  border-radius: 10%;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu-item .price {
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 3px 5px;
  position: absolute;
  top: -15px;
  left: -5px;
  color: var(--dark-800);
  font-weight: 600;
  font-size: 22px;
  transform: rotate(340deg);
}

.menu-item-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item:hover img {
  transform: translateY(-10px);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.menu-item p {
  font-size: 20px;
  color: var(--dark-700);
  margin: 0 0 15px;
}
.menu-item p i {
  font-size: 16px;
}

.menu-item-text h6 {
  font-weight: 600;
  color: var(--first-color);
  text-transform: capitalize;
}
.menu-item .view-row {
  padding: 0 35px;

  justify-content: space-between;
}
.menu-item span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}
.btn-options {
  display: flex;
  justify-content: left;
}
@media (max-width: 991px) {
  .menu-item {
    max-width: 250px;
    text-align: center;
    width: calc(50% - 30px);
  }
}
@media (max-width: 575px) {
  .menu-item {
    max-width: 250px;
    text-align: center;
    width: calc(100% - 30px);
    margin-left: 50px;
    margin-right: 50px;
  }
}
