.fun-facts-item{
    background-color: var(--dark-700);
width: calc(50% - 30px);
margin: 0 15px 30px;
padding:30px;
text-align:center;
border-radius: 4px;
}

.fun-facts-item:nth-child(1){
    background-color: var(--color-1);
}
.fun-facts-item:nth-child(2){
    background-color: var(--color-2);
}
.fun-facts-item:nth-child(3){
    background-color: var(--color-3);
}
.fun-facts-item:nth-child(4){
    background-color: var(--main-color);
}
.fun-facts-item h3{
    font-size: 35px;
    color: var(--white-900);
    text-transform: capitalize;
    margin: 0 0 5px;
}
.fun-facts-item p{
    text-transform: uppercase;
    color: var(--white-900);
}

@media(max-width:575px){
    .fun-facts-item{
        width: calc(100% - 30px);
   
    }
}