/* .home{
    color: black;
 

    margin-left: auto;
    margin-right: auto;

    background-color: rgb(234, 237, 237);

}
.home_row{

    z-index: 1;
    margin-left: auto;
    margin-right: auto;
   justify-content: space-around;
    flex-wrap: wrap;


}
.home_img{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0))
} */

.home-section{
    background-color: var(--dark-800); 
    overflow:hidden;
} 
.home-section .h-100{
    padding:120px 0;
}
/* .home-text{
    background-color: var(--color-1);
} */

.home-img-inner{
    max-width: 400px;
    margin:auto;
    position: relative;
    
}
.home-img-inner img{
    width: 100%;
    animation: zoomOutIn01 7s linear infinite;
 
}
.home-course{
  
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    z-index: 1;
    animation: spin01 20s linear infinite;
}
.home-course-item{
    position:absolute;
    height: 80px;
    width: 80px;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    color:var(--white-900);
}
.home-course-item:nth-child(1){
    left: -40px;
    top:calc(80% - 40%);
    background-color: var(--color-1);
}
.home-course-item:nth-child(2){
    right: -40px;
    top:calc(80% - 40%);
    background-color: var(--color-2);
}
.home-course-item:nth-child(3){
    top:-40px;
    left:calc(80% - 40%);
    background-color: var(--main-color);
}
.home-course-item:nth-child(4){
    bottom:-40px;
    left:calc(80% - 40%);
    background-color: var(--dark-700);
}
.home-text,.home-img{
    width:50%;
    padding:0 15px;

}
.home-text h1{
    font-size: 50px;
    color:var(--main-color);
    text-transform: uppercase;
    line-height: 1.2;
}
.home-text h1 span{
    color: var(--color-2);
    position: relative;
    z-index: 1;
}
.home-text h1 span::after{
   content: '';
   position: absolute;
   left: 0;
   width:100%;
   height: 2px;
   bottom: 5px;
   background-color: var(--white-900);
    transform: skewY(-4deg);
    z-index: -1;

}
.home-text h2{
    font-size: 24px;
    font-weight: 300;
    color: var(--white-900);
    margin:15px 0 40px;
}
.home-text .btn{
    display: inline-block;
    padding:10px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    border:1px solid transparent;
    transition: all 0.3s ease;
}
.home-text  .btn-1{
    background-color: var(--main-color);
    color: var(--white-900);
}
.home-text  .btn-1:hover{
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}
@media(max-width:991px){
    .home-text h1{
        font-size: 40px;
    }
    .home-text h1 span::after{
        bottom:10px;
    }
    .home-text h2{
        font-size: 20px;
    }
    .home-text , .home-img{
        width: 100%;
        padding:60px;
    }

 
}
@media(max-width:767px){
    .home-text h1{
        font-size: 35px;
    }
    .home-text h2{
        font-size: 18px;
    }
}